[submodule "src/components/lib/ToggleSwitch"]
	path = src/components/lib/ToggleSwitch
	url = https://github.com/sitepoint-editors/ToggleSwitch.git
[submodule "rust_deps/fenetic"]
	path = rust_deps/fenetic
	url = https://github.com/mherrerarendon/Fenetic.git
