.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 800px;
  height: 800px;
  padding: 2x;
  border: 1px solid;
}
.piece-selector input{
  margin:0;padding:0;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
}

.piece-selector input:active +.piece_button_class{opacity: .9;}
.piece-selector input:checked +.piece_button_class{
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
}
.piece_button_class{
  padding: 2x;
  border: 1px solid;
  font-size: 40px;
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:100px;height:70px;
  -webkit-transition: all 100ms ease-in;
     -moz-transition: all 100ms ease-in;
          transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
     -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
          filter: brightness(1.8) grayscale(1) opacity(.7);
}
.piece_button_class:hover{
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
     -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
          filter: brightness(1.2) grayscale(.5) opacity(.9);
}
