:root {
  --main-content-width: 40vw;
  --piece-font-size: calc(var(--main-content-width) / 10);
  --square-size: calc(var(--main-content-width) / 8); 
}

.white-square, .dark-square {
  font-size: var(--piece-font-size);
  text-align: center;
  min-height: var(--square-size);
  max-height: var(--square-size);
}

.white-square {
  background-color: rgb(248, 241, 241);
}

.dark-square {
  background-color: rgba(121, 48, 48, 0.541);
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border: 1px solid black;
  width: var(--main-content-width);
  height: var(--main-content-width);
  position: relative;
  margin: auto;
}

.piece-selection-container {
  display: flex;
  margin: auto;
  margin-top: 20px;
  width: var(--main-content-width);
  justify-content: space-around;
}

.piece-label {
  border: 1px solid rgb(189, 186, 186);
  border-radius: 10%;
  background-color: beige;
}

.piece-label:hover {
  background-color: rgb(196, 196, 170);
}

.piece-radio {
  input[type="radio"] {
    display: none;
    &:checked + label {
      background-color: burlywood;
    }
  }
  font-size: var(--piece-font-size);
}

.App {
  display: flex;
}

.main-container {
  margin-top: 20px;
  flex: 2;
}

.options-container {
  margin-top: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fen-container {
  flex: 1;
}

.castling-rights-container {
  border-radius: 2%;
  background-color: beige; 
  // display: flex;
  // flex-direction: column;
  // justify-content: space-evenly;
  padding: 1vw;
}
