
.white-square {
  background-color: rgb(248, 241, 241);
  font-size: 26pt;
  align-content: center;
  justify-content: center;
}

.dark-square {
  background-color: brown;
  font-size: 26pt;
  align-content: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border: 1px solid black;
  width: 40vw;
  height: 40vw;
  position: relative;
  margin: auto;
  margin-top: 20px;
}

.piece-selection-container {
  margin: auto;
  margin-top: 20px;
  width: 40vw;
}

/* .piece-radio {
  float:left;
} */

